.image-container {
  position: relative;
}

.image-face {
  transform-origin: top left;
}

.image-preview {
  display: none;
}

.image-target {
  background: #000;
  height: 186px;
  left: 157px;
  overflow: hidden;
  position: absolute;
  top: 76px;
  width: 135px;
  z-index: 50;
}

.main-image {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}
