.image-container {
  position: relative;
}

.image-face {
  transform-origin: top left;
}

.image-preview {
  display: none;
}

.image-target {
  background: #000;
  overflow: hidden;
  position: absolute;
  z-index: 50;
}

.main-image {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}
